#title {
    width: 100%;
    height: 100px;
    background-color: #f48c42;
    border-radius: 15px 50px;
    position: fixed;
    animation:title-animation 4s;
}

@keyframes title-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#right {
    float: right;
    position: relative;
}

@keyframes right-sword{
    
}

#left {
    float: left;
    position: relative;
}
