#title {
    width: 100%; /*The with of this div is equal to the total width of any resolution*/
    height: 100px;
    background: linear-gradient(to right, lightblue, yellow);    /*The color of the background gradually turns from lightblue to yellow.*/
    border-radius: 15px 50px; /*This line creates the unique border surrender the div*/
    position: fixed;  /*This line gives the div a fixed position in which the div stays there even if you scroll up and down the page*/
    animation: title-animation 4s; /*The duration of this animation is 4 seconds*/
    display: inline-block; /*Makes the div to be an inline-block so the div could overlap with other inline divs*/
}
/*The opacity of a container or an object changes from invisible to visible over a period of time*/
@keyframes title-animation { 
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.t-title {
    text-align: center; /*Keeps the texts in the center*/
    animation: title-animation 4s; 
    color: white; 
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; /*Gives the texts a shadow combined of black, blue, and darkblue*/
}

#right-sword {
    float: right;
    position: relative;
    display: inline;
    animation: title-animation 5s;
    transition: transform 4s; /*The time it takes for the sword to transform is set to 4 seconds*/
}
/*Triggers when the mouse hovers over the div*/
#right-sword:hover{
    transform: scale(.5,.5) rotate(360deg); /*Increases or decreases the size and rotate the image*/
}

#left-katana {
    float: left;
    position: relative;
    display: inline;
    top: 150px;
    animation: title-animation 5s;
    transition: transform 4s;
}

#left-katana:hover {
    transform: scale(.5,.5) rotate(360deg);
}

